/* default光标图片 */
body,
html,
.article-content img {
  cursor: url(../static/mouse/231157161232167137.cur), auto !important;
}

/* pointer光标图片 */
a:hover,
button:hover,
.copyCodeButton:hover,
#dark-mode-toggle {
  cursor: url(../static/mouse/230150135230156172.cur), auto;
}

/* text光标图片 */
input:hover,
.site-description,
.article-subtitle,
.article-content span,
.article-content li,
.article-content p {
  cursor: url(../static/mouse/230140135233146136.cur), auto;
}